<html>
    <body>
        <h2>Find The Type Of Iris Flower</h2>
        <form action ="/predict" method = "post"> 
            <input placeholder="sepalLength"  type ="number" step ="o,1" name="sepalLength" id="sepalLength" />
            <input placeholder="sepalWidth"  type ="number" step ="o,1" name="sepalWidth" id="sepalWidth" />
            <input placeholder="petalLength"  type ="number" step ="o,1" name="petalLength" id="petalLength" />
            <input placeholder="petalWidth"  type ="number" step ="o,1" name="petalWidth" id="petalWidth" />

            <input type ="submit" value = "Submit Form" />
        </form>
        {% if results or results == 0%}
            <h2> your Iris flower is --->{{results}}</h2>
        {% endif %}
    </body>
</html>